.detail{
  padding: .7rem;
  font-size: 14Px;
  box-sizing: border-box;
  max-width: 100%;
  background-color: #fff;
  .inner{
    padding-bottom:.7rem;
    font-size: 13Px;
    line-height: 1.8;
    border-bottom: 1px solid #eee;
  }
}
